{% extends 'layout.html' %}

{% block content %}
<script src="{{ url_for('static', filename='main.js') }}?cachebuster={{cachebuster}}"></script>

<div class="wrapper">
        <div id="menubar">
            <div id="apptitle">
                <div id="logotext">Chat thing</div>
            </div>
            <div id="userHead">Name</div>
            <div id="logout">
                <a name="logout" id="logout" class="btn" href="#" role="button">Logout</a>
            </div>
        </div>
    
        <div id="rooms">
        <div class="subhead">Rooms:</div>
        <input type="text" name="create_room" id="create_room" class="form-control" placeholder="Create room">
            <ul id="room_list">
            </ul>
        </div>
        <div id="messages">
            <ul id="messages_list">
            </ul>
        </div>
        <div id="users">
            <div class="subhead">Users:</div>
            <ul id="users_list">
            </ul>
        </div>
        <div id="userinput_group">
            <div id="inputfield">
                    <textarea class="form-control" name="userinput" id="userinput" rows="2" placeholder="CTRL-Enter to send"></textarea>
            </div>
            <div id="send">
                <a name="button_send" id="button_send" class="btn" href="#" role="button" title="send message"><i class="fas fa-satellite-dish"></i></i></a>
            </div>
            <div id="foto">
                <a name="button_translate" id="button_translate" class="btn" href="#" role="button" title="Translate message to english"><i class="fas fa-globe"></i></a>
            </div>
        </div>
            
        </div>
    </div>
<!---
    <div id="user">
        <form class="form-inline">
            <div class="form-group">
                <label for="user_input">Display name</label>
                <input type="text" name="user_input" id="user_input" class="form-control" placeholder="" aria-describedby="helpId">
                <small id="helpId" class="text-muted">Please enter a display name</small>
            </div>
            <button type="button" name="enter" id="enter" class="btn btn-primary" btn-lg btn-block">Enter</button>
        </form>
    </div>
    -->
</div>
</body>
{% endblock content %}

