<!doctype html>
<html lang="en">
  <head>
    <title>Chat Thing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?cachebuster={{cachebuster}}">
    <link href="https://fonts.googleapis.com/css?family=Teko" rel="stylesheet">
  </head>
  <body>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="{{ url_for('static', filename='helper_functions.js') }}?cachebuster={{cachebuster}}"></script>
    <script src="{{ url_for('static', filename='main.js') }}?cachebuster={{cachebuster}}"></script>
    {% block content %}
    
    
    {% endblock content %}
    <div id="footer">
      Chat thing - Project 2 for CS50 Web course on edx/ harvard &copy; Peerky (edx username)
    </div>
  </body>
</html>
