{% extends 'layout.html' %}

{% block content %}
  <script src="{{ url_for('static', filename='login.js') }}?cachebuster={{cachebuster}}"></script>
  <div class="alert alert-warning" role="alert">
    
  </div>
  <form name="loginform" action="/" method="POST">
  <div class="form-group">
      <label for="user">Please enter your display name</label>
      <input type="text" class="form-control" name="user" id="user" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Alphanumeric display name</small>
    </div>

    <button type="button" class="btn btn-primary" id="submit_dp">Go!</button>
  </form>
{% endblock content %}

